@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

h1{
font-family: 'Bree Serif', serif;
text-transform: uppercase;
text-align: center;
font-weight: bold;
text-decoration: underline;

}

p{
    color: #999;
    line-height: 25px;
}

h3{
    color: #fff;
}

a{
    text-decoration: none!important;
}